html, body {
    background-color: #092D74;  /*Bleu foncé */
    color: #d9d9d9;  /*Blanc doux */
    font-family: Arial, sans-serif;  /*Police de caractère par défaut */
    margin: 0;
    padding: 0;
    height: 100%;
    width:  100%;
}

table {
    margin: auto; /* Aligning the table to the center */
    width: 80%; /* Adjust as needed */
    border-collapse: collapse;
    background-color: #04477F; /* Bleu foncé */
    color: #d9d9d9; /* Blanc doux */
}

th {
    background-color: #04477F; /* Bleu foncé */
    color: #d9d9d9; /* Blanc doux */
    text-align: left;
    padding: 8px;
    border: 1px solid #000; /* Bordure noire */
}

td {
    background-color: #0E5AA7; /* Bleu moyen */
    color: #d9d9d9; /* Blanc doux */
    border: 1px solid #000; /* Bordure noire */
    text-align: left;
    padding: 8px;
}

.h-50 {
    height: 50%;
} 

.h-45{
    height: 45%;
} 

.h-15 {
    height: 15%;
}

.h-20 {
    height: 20%;
}

.h-90 {
    height: 90%;
}

.h-89 {
    height: 89%;
}

.h-87 {
    height: 87%;
} 

.cegep1 {
    background-color: #092D74;
}

.h-8 {
    height: 8%;
}

.h-4 {
    height: 4%;
}

.palefonce {
    background-color: lightgray;
}

.m-0 {
    margin:0px;
}